body {background-color: #BDDEDE;}

img.vloot1 {border: 2px solid black; float: left; margin: 20px;}

img.vloot2 {border: 2px solid black; float: right; margin: 20px;}

img.vloot3 {border: 2px solid black; float: left; margin: 20px;}

p {font-family: verdana; font-size: 16px;}