body {background-color: #00FFFF;}

li {font-size: 24px;
color: #0A185C;}

li.wiebenik {position: relative;
top: 0px;}

li.hobby {position: relative;
top: -28px;
left: 110px;}

li.sport {position: relative;
top: -55px;
left: 225px;}

li.opleiding {position: relative;
top: -83px;
left: 340px;}

li.motivation {position: relative;
top: -110px;
left: 490px;}

li.lerningpoints {position: relative;
top: -136px;
left: 660px;}

li.vooropleidingen {position: relative;
top: -163px;
left: 825px;}

li.bijbaantje {position: relative;
top: -193px;
left: 1040px;}

h1.Intro {position: relative;
top: -150px;
color: #0A185C;}

h1.Hobby {position: relative;
top: -150px;
color: #0A185C;}

h1.Sport {position: relative;
top: -150px;
color: #0A185C;}

h1.Vooropleidingen {position: relative;
top: -150px;
color: #0A185C;}

h1.Motivation {position: relative;
top: -150px;
color: #0A185C;}

h1.Lerningpoints {position: relative;
top: -150px;
color: #0A185C;}

h1.Bijbaantje {position: relative;
top: -150px;
color: #0A185C;}

h1.Opleiding {position: relative;
top: -150px;
color: #0A185C;}

p.intro1 {position: relative;
top: -100px;
font-size: 20px;}

p.intro2 { position: relative;
top: -70px;
font-size: 20px;}

p.intro3 {position: relative;
top: -40px;
font-size: 20px;}

p.hobby1 {position: relative;
top: -100px;
font-size: 20px;}

p.hobby2 {position: relative;
top: -80px;
font-size: 20px;}

p.hobby3 {position: relative;
top: -60px;
font-size: 20px;}

p.hobby4 {position: relative;
top: -40px;
font-size: 20px;}

p.hobby5 {position: relative;
top: -20px;
font-size: 20px;}

p.hobby6 {position: relative;
font-size: 20px;}

p.sport1 {position: relative;
top: -100px;
font-size: 20px;}

p.sport2 {position: relative;
top: -80px;
font-size: 20px;}

p.sport3 {position: relative;
top: -60px;
font-size: 20px;}

p.sport4 {position: relative;
top: -40px;
font-size: 20px;}

p.vooropleidingen1 {position: relative;
top: -100px;
font-size: 20px;}

p.vooropleidingen2 {position: relative;
top: -80px;
font-size: 20px;}

p.vooropleidingen3 {position: relative;
top: -60px;
font-size: 20px;}

p.vooropleidingen4 {position: relative;
top: -40px;
font-size: 20px;}

p.motivation1 {position: relative;
top: -100px;
font-size: 20px;}

p.motivation2 {position: relative;
top: -80px;
font-size: 20px;}

p.motivation3 {position: relative;
top: -100px;
font-size: 20px;}

p.lerningpoints1 {position: relative;
top: -100px;
font-size: 20px;}

p.lerningpoints2 {position: relative;
top: -80px;
font-size: 20px;}

p.bijbaantje1 {position: relative;
top: -100px;
font-size: 20px;}

p.bijbaantje2 {position: relative;
top: -80px;
font-size: 20px;}

p.bijbaantje3 {position: relative;
top: -60px;
font-size: 20px;}

p.bijbaantje4 {position: relative;
top: -40px;
font-size: 20px;}

p.opleiding1 {position: relative;
top: -100px;
font-size: 20px;}

p.opleiding2 {position: relative;
top: -80px;
font-size: 20px;}

p.opleiding3 {position: relative;
top: -60px;
font-size: 20px;}

p.opleiding4 {position: relative;
top: -40px;
font-size: 20px;}

p.opleiding5 {position: relative;
top: -20px;
font-size: 20px;}

